.scene-graph-container {
  display: inline-block;
  border: 1px solid lightgray;
  position: relative;
  margin-top: 1rem;
  width: 1024px;
  height: 768px;
  overflow: auto;
}

.dragui {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 4096px;
  height: 3072px;
  background-color: transparent;
}


.ViewGraph {
  position: absolute;
  overflow: hidden;
}

.ViewGraphNode {
  position: absolute;
  box-sizing: border-box;
  transform-origin: 0 0;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.ViewGraphNode svg {
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.textInner {
  background: transparent;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  text-align: center;
  outline-style: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  cursor: default;
}
